/* CSS style page for the about page */
h1 {
  font-family: "Oswald";
  font-size: 4rem;
  margin-bottom: 0px;
}

h2, h3 {
  font-family: "Catamaran";
  margin: 0px;
}

img {
  width: 35%;
  margin-right: 100px;
  margin-left: 100px;
}

.div-about {
  width: 55%;
}

.div-goals {
  margin-top: 100px; 
}

/* Centers all the text in the div-goals */
.div-goals p, h3 {
  text-align: center;
}

/* Adds vertical borders between each goal section */
.div-border {
  border-right: #5B6852 3px solid; 
}

/* Media query for divs and imgs on about page -- if screen is less than 800px 
   the div-goals changes text to left alignment and removes the border between the goal sections. 
   Also fixes margins and expands width */
@media screen and (max-width: 800px) {
  .div-about {
    width: 100%;
  }

  .div-goals p, h3 {
    text-align: left;
  }

  .div-border {
    border: none;
  }

  img {
    width: 55%;
    margin: auto;
  }
}