  h1 {
    font-family: "Oswald";
    font-size: 4rem;
    margin-bottom: 0px;
  }

  h2, h3 {
    font-family: "Catamaran";
    margin: 0px;
  }

  p {
    text-align: left;
  }

  img {
    width: 35%;
    margin-right: 100px;
    margin-left: 100px;
  }

  .div-goals {
    margin-top: 100px;   
  }

  .div-goals p, h3 {
    text-align: center;
  }

  .div-border {
    border-right: #93A375 3px solid; 
  }

  @media screen and (max-width: 1000px) {
    .div-goals p, h3 {
      text-align: left;
    }

    .div-border {
      border: none;
    }

    img {
      margin: auto;
    }
  }