.navbar {
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: #E3DED5;
    font-family: "Catamaran";
    width: 100%;
  }
  
  .navbar a {
    float: right;
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #93A375;
  }
  
  .navbar a:hover:not(.active) {
    background-color: #D7D0C3;
  }
  
  .navbar a.active {
    background-color: #93A375;
    color: white;
    float: left;
  }

  .navbar .icon {
    display: none;
    padding: 0px;
  }
  
  @media screen and (max-width: 800px) {
    .navbar a:not(:first-child) {
      display: none;
    }

    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 800px) {
    .navbar.responsive {
      position: relative;
    }
    
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
      color: white;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
 
  body {
    background-color: #F3F1ED;
    font-family: Ovo;
    color: #3F3629;
  }

  main {
    padding: 16px;
    margin-top: 30px;
  }

  .row {
    display: flex;
  }

  @media screen and (max-width: 1000px) {
    .row {
      display: inline;
    }
  }


  .footer {
    margin-top: 50px;
    font-family: Catamaran;
    color: #93A375;
    display: flex;
  }

  .footer p {
    color: #93A375;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa {
    padding: 12px;
    padding-top: 15px;
    font-size: 47px;
    width: 25px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa-facebook {
    background: #93A375;
    color: #F3F1ED;
  }

  .fa-twitter {
    background: #93A375;
    color: #F3F1ED;
  }

  .fa-instagram {
    background: #93A375;
    color: #F3F1ED;
  }

  .fa-pinterest {
    background: #93A375;
    color: #F3F1ED;
  }