/* CSS style sheet for the blog page */
h1 {
  font-family: "Oswald";
  font-size: 4rem;
  margin-bottom: 0px;
}

/* Adds side margins to the main section of the body */
main {
  margin-left: 75px;
  margin-right: 75px;
}

.blog-title {
  font-family: Playfair Display;
  margin-top: 0px;
  margin-bottom: 35px;
}

.blog {
  font-family: Catamaran;
  margin-bottom: 0px;
}

img {
  width: 100%;
  margin-top: 35px;
  margin-bottom: 35px;
}