/* CSS style sheet for contact page */
h1 {
  font-family: "Oswald";
  font-size: 4rem;
  margin-bottom: 75px;
}

h3 {
  font-family: "Ovo";
  margin: 0px;
}

.div-form {
  width: 55%;
}

form {
  margin-top: 25px;
}

/* Styling for the input fields and text area for message */
input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1.5px solid #3F3629;
  background-color: #F3F1ED;
}

label {
  color: #3F3629;
  font-family: monospace;
}

/* Styling for the submit button */
input[type=submit] {
  background-color: #F3F1ED;
  border: 1.5px solid #3F3629;
  color: #3F3629;
  padding: 12px 20px;
  cursor: pointer;
  float: right;
  font-family: monospace;
}

/* Underlines the submit text in the submit button when mouse hovers */
input[type=submit]:hover {
  text-decoration: underline;
}

img {
  width: 45%;
}