  h1 {
    font-family: Ovo;
    text-align: center;
    font-size: 4rem;
    color: #3F3629;
  }

  h2 {
    font-family: "Catamaran";
    text-align: center;
    color: #93A375;
  }

  p {
    color: white;
  }

  a {
    color: #3F3629
  }

  .div-home {
    background-color: #93A375;
    width: 100%;
    text-align: center;
  }
 
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 20px;
    margin-top: 18px;
  }

  .food-img {
    width: 100%;
  }

  .natalie-img {
    margin: 30px;
    width: 27%;
    height: 100%;
  }

  .div-blog {
    background-color: #B8A08E;
    width: 35%;
    height: 50%;
    text-align: center;
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 30px;
    margin-top: 150px;
    color: white;
  }

  .div-blog h3 {
    font-family: "Catamaran"; 
    font-size: 1.5rem;
  }

  .button-link {
    background-color: #93A375;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Catamaran";
  }

  .button-link:hover, a:active {
    background-color: #829462;
  }

  .bio {
    margin-top: 50px; 
    margin-bottom: 0px;
    width: 40%;
  }

  .bio h3 {
    margin: 0px;
    color: #3F3629;
    font-family: Catamaran;
  }

  .name {
    font-family: Dawning of a New Day;
    font-size: 4rem;
    margin: 0px;
    color: #3F3629;
  }

  .bio p {
    color: #3F3629;
  }