  h1 {
    font-family: "Cutive Mono";
    font-size: 4rem;
  }

  h3 {
    font-family: "Cutive Mono";
  }

  .row {
    display: flex;
  }

  .text {
    width: 60%;
    margin-right: 40px;
  }

  .col-left {
    flex: 20%;
    padding: 10px;
    margin-top: 18px;
    text-align: left;
  }

  .col-right {
    flex: 40%;
    padding: 10px;
    margin-top: 18px;
    text-align: left;
  }

  ul {
    list-style-type:none;
    padding-left: 0px;
  }

  img {
    width: 40%
  }