/* CSS style sheet for the 3 individual recipe pages */
h1 {
  font-family: "Cutive Mono";
  font-size: 4rem;
}

h2,h3 {
  font-family: "Cutive Mono";
}

/* Div for the recipe details */
.text {
  width: 60%;
  margin-right: 40px;
}

/* Puts the recipe ingredients in a div column to the left */
.col-left {
  flex: 20%;
  padding: 10px;
  margin-top: 18px;
  text-align: left;
}

/* Puts the recipe instructions in a div column to the right that is 
   slightly wider than the div column of ingredients */
.col-right {
  flex: 40%;
  padding: 10px;
  margin-top: 18px;
  text-align: left;
}

ul {
  list-style-type:none;
  padding-left: 0px;
}

img {
  width: 40%
}

/* Media query for divs and imgs on recipes page -- if screen is less than 800px 
   the div and img width expands. */
   @media screen and (max-width: 800px) {
    .text {
      width: 100%;
    }

    img {
      width: 55%;
    }
  }