ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E3DED5;
    font-family: "Catamaran";
  }
  
  li {
    float: right;
    color: white
  }
  
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #93A375;
  }
  
  li a:hover:not(.active) {
    background-color: #D7D0C3;
  }
  
  .active {
    background-color: #93A375;
    color: white
  }

  h1 {
    font-family: Ovo;
    text-align: center;
    font-size: 4rem;
    color: #3F3629;
  }

  h2 {
    font-family: "Catamaran";
    text-align: center;
    color: #93A375;
  }

  body {
    background-color: #F3F1ED;
    font-family: Ovo;
    color: #3F3629;
  }

  a {
    color: #3F3629
  }


  div {
    background-color: #93A375;
    width: 100%;
    /* height: 350px; */
    text-align: center;
    justify-content: center;
  }


  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 20px;
  }

  /* img {
    width: 100%;
  } */